#ct-circle-container {
  width: 100%;
  height: 100%;
  svg {
    height: 100%;
    transform: rotate(-90deg);
    width: 100%;
    circle {
      fill: none;
      stroke: #17a768;
      stroke-dashoffset: 0;
      stroke-width: 50%;
    }
  }
}
